 #root {
  width: 1590px;
  height: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 231, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fronteggLogo {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
  right: 200px;
}

.settings{
  width:30px;
  height:30px;
}

.buttonsContainer{
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
